/* general  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-main: #141922;
    --color-playbar: #282828;
    --color-sidebar: #000000;
    --color-text-primary: #ffffff;
    --color-text-secondary: #717171;
    --color-text-secondary-lighter: #c1c1c1;
    --color-highlight: #adff2f;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* utility */

img {
    display: block;
    width:100%;
}

/* contenitori */
.wrapper {
    width: 100%;
    height: 100vh;
}

/* testo  */
.text-primary {
    color: var(--color-text-primary);
}
.text-secondary {
    color: var(--color-text-secondary);
}
.text-sec-light {
    color: var(--color-text-secondary-lighter);
}
.text-uppercase {
    text-transform: uppercase;
}
.text-bold {
    font-weight: bold;
}
.text-center {
    text-align: center;
}

/* liste e ancore  */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

/* divisori  */
.divider-s {
    margin-bottom: 10px;
}
.divider-m {
    margin-bottom: 20px;
}
.divider-l {
    margin-bottom: 40px;
}


/* flex  */
.d-flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.j-space-between {
    justify-content: space-between;
}
.j-center {
    justify-content: center;
}
.j-start {
    justify-content: flex-start;
}
.j-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
    align-content: center;
}
.align-start {
    align-items: flex-start;
    align-content: flex-start;
}
.wrap {
    flex-flow: row wrap;
}
.column-gap {
    column-gap: 20px;
}
.small-gap {
    column-gap: 10px;
}




/* main  */
main {
    width: 100%;
    height: calc(100% - 80px);
    background-color: var(--color-main);
}

.highlight-x {
    background-color: transparent;
    width: 40%;
    height: 3px;
    margin: 0 auto;
    border-radius: 2px;
}
nav li:hover .highlight-x {
    background-color: var(--color-highlight);
}

.highlight-y {
    background-color: transparent;
    width: 5px;
    border-radius: 2px;
    margin-right: 20px;
}
#sidebar li:hover .highlight-y {
    background-color: var(--color-highlight);
}

/* sidebar  */
#sidebar {
    width: 200px;
    height: 100%;
    background-color: var(--color-sidebar);
    padding-top: 20px;
    font-size: 0.7em;
}
#logo {
    width: 70%;
    padding-left: 20px;
}
#logo-small {
    display: none;
}

/* sidebar top  */
#sidebar-top {
    height: calc(100% - 80px);
    min-height: 480px;
}

/* sidebar main  */
#sidebar .icon {
    width: 15%;
    filter: invert(44%) sepia(0%) saturate(1674%) hue-rotate(148deg) brightness(98%) contrast(83%);
}
/* sidebar playlist  */
#sidebar .add-playlist {
    font-size: 3em;
}
#sidebar #nav-playlist h4 {
    padding-left: 20px;
}
#sidebar #nav-playlist{
    height: 60%;
    overflow-y: auto;
}

/* sidebar bottom  */
#sidebar-bottom {
    padding: 10px 20px 0 20px;
    height: 80px;
    background-color: var(--color-sidebar);
    z-index: 100;
}

#download {
    font-size: 0.9em;
}
#download img{
    width: 70%;
}
#user-profile {
    border-top: 1px solid var(--color-text-secondary);
    padding-top: 10px;
}
#user-profile figure {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--color-text-secondary);
    overflow: hidden;
}

#sidebar li a:hover, #download:hover {
    color: var(--color-text-primary);
    filter: brightness(300%);
}

/* main content  */
#main-content {
    width: calc(100% - 200px);
    overflow-y: auto;
    padding-top: 100px;
}

#main-content nav{
    width: 100%;
    font-size: 0.7em;
    padding: 0 10px;
}

#main-content nav li:hover a{
    color: var(--color-text-primary);
}

#main-content section {
    padding: 20px 20px;
    width: 100%;
}

#main-content section h2 {
    font-size: 1.5em;
}

#main-content section h3 {
    font-size: 0.7em;
}

#main-content .card .subtitle{
    font-weight: 700;
    font-size: 0.7em;
}
#main-content .section-subtitle {
    font-size: 0.7em;
}

/* card */
#main-content .card {
    width: calc((100% / 6) - 20px);
    padding-bottom: 10px;
}
#main-content .card-container {
    width: 100%;
}
#main-content .card figure {
    width: 100%;
    position: relative;
}
.card .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text-primary);
    font-size: 4vw;
    display: none;
    transition: font-size 0.2s;
}
.card figure:hover {
    cursor: pointer;
}
.card figure:hover .play-button {
    display: block;
    z-index: 100;
}
.card figure:active .play-button {
    display: block;
    z-index: 100;
    font-size: 3.5vw;
}

.card figure:hover img {
    filter: brightness(40%);
}



/* Sezione artisti popolari  */
#pop-artists .card figure {
    border-radius: 50%;
    overflow: hidden;
}


/* playbar  */
#playbar {
    width: 100%;
    height: 80px;
    background-color: var(--color-playbar);
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    padding: 10px 10px;
    font-size: 0.8em;
}

/* playbar left  */
#playbar-left .text-secondary:hover, #playbar-right .text-sec-light:hover {
    color: var(--color-text-primary);
}
#playbar-left, #playbar-right {
    width: 200px;
}
#album-played figure {
    width:40px;
}
#album-played figure:hover img {
    filter: brightness(40%);
    cursor: pointer;
}
#album-played .album-subtitle {
    font-size: 0.8em;
}
#album-played .album-subtitle a:hover {
    text-decoration: underline;
}

/* playbar main  */
#playbar-main .play-buttons {
    height: 25px;
    width: fit-content;
    margin: 0 auto ;
}
#playbar-main .text-primary:hover {
    color: var(--color-text-secondary-lighter);
}
#playbar-main .play-button, #playbar-main .playb-main-icon {
    width: 25px;
}
#playbar-main .playb-main-icon i {
    font-size: 1.2em;
    transition: font-size 0.3s;
}
#playbar-main .playb-main-icon i:active {
    font-size: 1em;
}
#playbar-main .play-button i {
    font-size: 2.2em;
    transition: font-size 0.3s;
}
#playbar-main .play-button i:active {
    font-size: 1.7em;
}
#playbar-main .play-button i:hover {
    color: var(--color-highlight);
}
.song-timing {
    font-size: 0.7em;
    padding-top: 10px;
}
#song-timing {
    accent-color: var(--color-text-secondary-lighter);
    width: 500px;
    height: 4px;
    transition: width 0.2s;
}
#song-timing:active {
    accent-color: var(--color-highlight);
}

/* playbar-right  */
#volume {
    accent-color:var(--color-text-secondary-lighter);
    width: 80px;
    height: 4px;
    transition: width 0.2s;
}
#volume:active {
    accent-color: var(--color-highlight);
}

/* call to action  */
#call-to-action {
    position: fixed;
    top: 0;
    left: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 80px;
    width: calc(100% - 200px);
    z-index: 500;
}

#call-to-action .button {
    padding: 10px 40px;
    border: 1px solid var(--color-text-primary);
    border-radius: 20px;
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 0.7em;
    transition: font-size 0.5s;
}

#call-to-action .button:hover {
    font-size: 0.8em;
}

/* media query  */
@media screen and (max-width:1200px) {
    #main-content .card-container {
        flex-wrap: wrap;
    }
    #main-content .card {
        width: calc((100% / 4) - 20px);
    }
}
@media screen and (max-width:992px) {
    #main-content .card {
        width: calc((100% / 3) - 20px);
    }
    #song-timing {
        width: 350px;
    }
    #volume {
        width: 70px;
    }
}
@media screen and (max-width:768px) {
    #main-content .card {
        width: calc((100% / 2) - 20px);
    }
    #song-timing {
        width: 250px;
    }
    #volume {
        width: 50px;
    }
}
@media screen and (max-width:576px) {
    #logo {
        display: none;
    }
    #logo-small {
        display: block;
    }
    #sidebar {
        width: 50px;
        padding: 10px;
    }
    #sidebar-bottom {
        padding: 0;
        height: 80px;
    }
    #user-profile {
        border-top: 0px;
    }
    .sidebar-main li span, #sidebar-bottom span, #nav-playlist {
        display: none;
    }
    #sidebar .icon {
        width: 100%;
    }
    #main-content, #call-to-action {
        width: calc(100% - 50px);
    }
    #call-to-action {
        left:50px;
    }
    #volume {
        width: 40px;
    }
    #song-timing {
        width: 150px;
    }
    #album-icons {
        flex-direction: column;
    }
}

@media screen and (max-width:450px) {
    #main-content .card {
        width: calc(100% - 20px);
    }
    #playbar-left, #playbar-right {
        display: none;
    }
    #playbar-main {
        margin: 0 auto;
    }
}
@media screen and (min-width:1200px) {
    #call-to-action .button, #main-content nav, #sidebar {
        font-size: 0.8em;
    }
    #call-to-action .button:hover {
        font-size: 0.9em;
    }
}
@media screen and (min-width:1400px) {
    #call-to-action .button, #main-content nav, #sidebar {
        font-size: 0.9em;
    }
    #call-to-action .button:hover {
        font-size: 1em;
    }
}

@media screen and (max-height:300px) {
    #call-to-action {
        display: none;
    }
}
